
/* Need to account for the title bar */
#User .main-content {
	margin-top: 80px;
}

#User.webapp .main-content {
	margin-top: 100px;
}

#User .navigation {

	position: fixed;
	background-color: #FFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);

	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

#User .navigation div.row.main-toolbar {
	margin-top: 0.5em;
}
#User.webapp .navigation {
	padding-top: 1.2em;
}
#User .navigation div.row.main-toolbar:last-child {
	margin-bottom: 0.5em;
} 

#User .navigation .username,
#User .navigation .score {
	vertical-align: middle;
}

#User .navigation div.category-callout,
#User .navigation div.category-callout-return {
	border-radius: 4px;
	text-align: center;

	margin: 0.3em 0;
	padding: 0.2em 0;
	height: 1.8em;
}

#User .navigation div.category-callout {
	border: solid 1px rgba(255, 255, 255, 0.5);
	background-color: rgb(41, 198, 2);
	color: white;

	-webkit-animation: green-glow 1s infinite alternate both; /* Safari 4+ */
	-moz-animation:    green-glow 1s infinite alternate both; /* Fx 5+ */
	-o-animation:      green-glow 1s infinite alternate both; /* Opera 12+ */
	animation:         green-glow 1s infinite alternate both; /* IE 10+, Fx 29+ */
}

#User .navigation div.category-callout strong {
	text-transform: uppercase;
}

#User .navigation div.category-callout-return {
	border: solid 1px rgba(0, 0, 0, 0.5);
}


/* Style for the category boxes */
#User .category {
	font-size: 1.1em;
	text-align: center;
	display: block;
	height: auto;

	margin-bottom: 2em;
}

#User .table-section > h2 {
	font-size: 1.4em;
	margin-bottom: 6px;
}

#User .table-section .no-called-out-category {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.8em;
	color: #CCC;
	font-style: italic;
	opacity: 0.7;
}

#User .table-section .row {
	background-color: #FFF;
	border-top: solid 1px #DDD;
	position: relative;
}

#User .table-section .row:last-child {
	border-bottom: solid 1px #DDD;
}

#User .table-section .category-row > .container {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 35px;
}

#User .table-section .category-row > .container > .user-pick.no-selection {
	color: #CCC;
	font-style: italic;
}

#User .table-section .category-row > .container > header {
	font-size: 1.2em;
	font-weight: bold;
}

#User .table-section .category-row > .container .value {
	font-size: 0.9em;
}

#User .table-section .category-row > .container .glyphicon-ok,
#User .table-section .category-row > .container .glyphicon-remove {
	display: none;
}

#User .table-section .category-row > .container > .correct {
	color: green;
}

#User .table-section .category-row > .container > .correct > .glyphicon-ok {
	display: inline;
}

#User .table-section .category-row > .container > .incorrect {
	color: red;
}

#User .table-section .category-row > .container > .incorrect > .glyphicon-remove {
	display: inline;
}

#User .table-section .category-row > .glyphicon-chevron-right {
	display: block;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -0.5em;

	font-size: 1.5em;
	opacity: 0.6;
}



#User .focused-category {
	padding-bottom: 60px;
}

#User .focused-category.locked {
	opacity: 0.5;
}

@media (min-width: 768px) {
	#User .focused-category {
		font-size: 1.4em;
	}
}

#User .focused-category .category-name {
	display: block;
	text-align: left;

	font-weight: bold;
	font-size: 1.2em;
}

#User .focused-category .value {
	text-align: left;
	font-size: 1.1em;
}

#User .focused-category .nominee {

	font-size: 0.9em;

	border: solid 1px #000;
	background-color: #FFF;

	text-align: center;
	display: inline-block;
	vertical-align: top;

	padding: 0.8em 0.4em;
	margin: 0.3em 0%;
	width: 100%;
}

@media (min-width: 768px) {

	#User .focused-category .nominee {
		font-size: 1.0em;
		padding: 0.7em 0;
		margin: 1em 2%;
		width: 45%;
	}
}

#User .focused-category .nominee.selected {
	border-color: #428BCA;
	color: #428BCA;
}

#User .focused-category .nominee.winner {
	border-color: green;
	color: green;
}

#User .focused-category .nominee.selected.loser {
	border-color: red;
	color: red;
}

#User .focused-category .nominee > span {
	display: inline;
	text-align: center;

	margin: 0px 0.2em;
}

@media (min-width: 768px) {
	#User .focused-category .nominee > span {
		display: block;
		text-align: center;
	}
}

#User .focused-category .nominee span.title {
	font-weight: bold;
	text-transform: uppercase;
}

#User .focused-category .nominee span.subtitle {
	font-style: italic;
}

#User .focused-category .nominee .users {
	font-size: 0.8em;
	margin-top: 8px;

	min-height: 1.8em;
}

#User .focused-category .nominee .users .userToken {
	border: solid 1px;
	border-color: inherit;
	border-radius: 1em;
	padding: 0 0.6em;
	margin: 0 2px 0.2em;

	display: inline-block;
}

#User .focused-category .nominee.selected .users .userToken.selected {
	color: white;
	font-weight: bold;
	background-color: #428BCA;
}

#User .focused-category .nominee.selected.winner .users .userToken.selected {
	background-color: green;
}

#User .focused-category .nominee.selected.loser .users .userToken.selected {
	background-color: red;
}

#User #buzzerCanvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#User #buzzerBackground {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#User #buzzerBackground.submitted {
	background-color: #FBFF82;
}

#User #buzzerBackground.accepted {
	background-color: #6EF577;
}

#User #buzzerBackground.rejected {
	background-color: #FFA27A;
}




