<!doctype html>
<html ng-app="Oscars">

<head>
	<title>Oscars 2</title>

	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-touch.min.js"></script>
	<script type="text/javascript" src="/js/qrcode.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>

	<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>

	<script type="text/javascript" src="/js/underscore-min.js"></script>

	<script src="/js/bootstrap.min.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<script type="text/javascript" src="/js/services.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

	<!-- Optimize for Mobile Screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<!-- Safari web app config -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" id="status-bar-style">

</head>

<body ng-controller="NomineePickerCtrl" id="User" ng-class="{'webapp':webapp}">



	<!-- The header bar of this web app will contain the logged in user on the left, and the number of coins on the right. -->
	<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-if="me"> -->
	<nav class="navigation" role="navigation" ng-if="me">

		<div class="container-fluid">
			<div class="row main-toolbar">
				<div class="col-xs-12">
					<button type="button" class="btn " ng-class="{'btn-link': contentView == 'buzzer', 'btn-primary': contentView == 'categories'}" ng-click="setContentView('categories');">Betting</button>
					<button type="button" class="btn " ng-class="{'btn-primary': contentView == 'buzzer', 'btn-link': contentView == 'categories'}" ng-click="setContentView('buzzer');">Buzzer</button>
					
					<div style="float:right; display:inline-block">
						<!-- <span class="username">{{me.name}}</span> -->
						<span class="score"><span class="glyphicon glyphicon-certificate"></span> {{oscarsModel.balanceForUser(me) | number:0}}</span>
						<button type="button" class="btn  btn-link" ng-click="logout()">Logout</button>
					</div>
				</div>
			</div>

			<div class="row" ng-if="oscarsModel.calledOutCategory() && !focusedCategory">
				<div class="col-xs-12">
					<div class="category-callout" ng-click="setFocusedCategory(oscarsModel.calledOutCategory())"><span class="marquee">Vote now for <strong>{{oscarsModel.calledOutCategory().name}}</strong>!</span></div>
				</div>
			</div>

			<div class="row" ng-if="focusedCategory">
				<div class="col-xs-12">
					<div class="category-callout-return" ng-click="unsetFocusedCategory()">Show All Categories</div>
				</div>
			</div>
		</div>
	</nav>





	<!-- This is the template for each category of votes. -->
	<div class="container-fluid main-content" ng-include="contentURL"></div>




</body>
</html>