<div class="tv container">

	<div class="row">
		<div class="col-sm-12">
			<h2>Set Active View</h2>

			<div class="btn-group btn-group-justified">
				<div class="btn-group btn-group-lg">
					<button type="button" class="btn btn-default" ng-click="oscarsModel.setTVViewName('setup')">Setup</button>
				</div>
				<div class="btn-group btn-group-lg">
					<button type="button" class="btn btn-default" ng-click="oscarsModel.setTVViewName('category')">Category</button>
				</div>
				<div class="btn-group btn-group-lg">
					<button type="button" class="btn btn-default" ng-click="oscarsModel.setTVViewName('leaderboard')">Leaderboard</button>
				</div>
				<div class="btn-group btn-group-lg">
					<button type="button" class="btn btn-default" ng-click="oscarsModel.setTVViewName('quiz')">Trivia</button>
				</div>
			</div>
		</div>
	</div>





	<div class="row">

		<!-- Network name and password -->
		<div class="col-sm-4">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-signal"></span> Network ID</h3>
				</div>

				<div class="panel-body">
					<form ng-submit="oscarsModel.setTVNetworkInfo(networkSSID, networkPassword)">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="SSID" ng-model="networkSSID">
						</div>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Password" ng-model="networkPassword">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">Display</button>
							</span>
						</div>
					</form>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-qrcode"></span> QR Code</h3>
				</div>
				<ul class="list-group">
					<a href="#" class="list-group-item" ng-repeat="networkURL in networkURLs" ng-click="oscarsModel.setTVQRString(networkURL)">{{networkURL}}</a>
				</ul>
			</div>
		</div>


		<!-- List of network URLs to show in TV QR code -->
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-flag"></span> Show Category</h3>
				</div>
				<ul class="list-group">
					<a href="#" class="list-group-item" ng-click="oscarsModel.setTVCategory(null)"><span class="glyphicon glyphicon-bullhorn"></span> Called Out Category (default)</a>
					<a href="#" class="list-group-item" ng-repeat="category in oscarsModel.categories" ng-click="oscarsModel.setTVCategory(category.name)">{{category.name}}</a>
				</ul>
			</div>
		</div>



		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> Leaderboard</h3>
				</div>
				<ul class="list-group">
					<a href="#" class="list-group-item" ng-repeat="leaderboardName in ['wins', 'accuracy', 'confidence', 'winnings', 'wealth']" ng-click="oscarsModel.setTVLeaderboard(leaderboardName)">{{leaderboardName}}</a>
				</ul>
			</div>
		</div>
	</div>

</div>