<div class="triviaQuestions container-fluid">

	<!-- List of users that have buzzed in. -->
	<div class="buzzedUsers col-xs-4">
		<div style="margin-bottom: 0.5em;">{{oscarsModel.buzzedUsers.length}} Users Buzzed. <button type="button" class="btn btn-default" ng-click="oscarsModel.resetAllBuzzes()">Clear All</button></div>
		<ul class="list-group">

			<li ng-if="oscarsModel.buzzedUsers.length == 0" class="list-group-item disabled">None</li>

			<li ng-repeat="user in oscarsModel.buzzedUsers" class="user list-group-item" ng-class="{'first-user':$index == 0}">{{user.name}}
				<div ng-if="$index == 0" style="margin-top: 0.5em;">
					<button type="button" class="btn btn-default correct" ng-click="userCorrect(user)"><span class="glyphicon glyphicon-ok"></span> Correct</button>
					<button type="button" class="btn btn-default incorrect" ng-click="userIncorrect(user)"><span class="glyphicon glyphicon-remove"></span> Incorrect</button>
				</div>
			</li>
		</ul>


		<div style="margin-bottom: 0.5em;">{{oscarsModel.unbuzzedUsers().length}} Users have not buzzed.</div>

		<ul class="list-group">

			<li ng-if="oscarsModel.unbuzzedUsers().length == 0" class="list-group-item disabled">None</li>

			<li ng-repeat="user in oscarsModel.unbuzzedUsers()" class="user list-group-item">{{user.name}}</li>
		</ul>
	</div>

	<div ng-if="!activeQuestion" class="col-xs-8">
		<div ng-repeat="triviaQuestion in oscarsModel.triviaQuestions" class="question panel panel-default" ng-class="{asked:triviaQuestion.asked}" ng-click="setActiveQuestion(triviaQuestion)">
			<div class="panel-heading">
				<h3 class="panel-title">{{$index+1}}. {{triviaQuestion.category}}</h3>
			</div>
		</div>
	</div>

	<div ng-if="activeQuestion" class="col-xs-8">
		<div class="question panel panel-default">
			<div class="panel-heading">
				{{activeQuestion.category}}
			</div>
			<div class="panel-body">
				Q: {{activeQuestion.question}}
			</div>
			<div class="panel-footer">A: {{activeQuestion.answer}}</div>
		</div>
		<div><button type="button" class="btn btn-default" ng-click="setActiveQuestion(null)"><span class="glyphicon glyphicon-chevron-left"></span>Back</button></div>
	</div>
</div>