<table class="table categories">
	<thead>
		<tr>
			<th>Category</th>
			<th><!-- Spacer for the "Lock" icon --></th>
			<th>Value</th>
			<th>Nominees</th>
			<th>Pot</th>
			<th>Controls</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="category in oscarsModel.categories" class="category" ng-class="{locked: category.locked, pickWinner:acceptWinner[category.name]}">
			<td>
				<span ng-if="category.calledOut" class="glyphicon glyphicon-bullhorn"></span>
				<span ng-if="category.distinguished" class="glyphicon glyphicon-star"></span>
				{{category.name}}</td>
			<td><span ng-if="category.locked" class="glyphicon glyphicon-lock"></span><span ng-if="(oscarsModel.timeRemainingForCategory(category) > 0)">{{oscarsModel.timeRemainingForCategory(category)}}</span></td>
			<td>{{category.value}}</td>
			<td>
				<span ng-repeat="nominee in category.nominees" class="nominee" ng-class="{winner: nominee.winner}" ng-click="pickWinner(category, nominee)">
					{{nominee.title}} <span class="badge">{{oscarsModel.usersWhoPicked(category.name, nominee.title).length}}</span>
				</span>
			</td>
			<td>{{oscarsModel.potForCategory(category)}}</td>
			<td class="category-controls">
				<button class="btn btn-default" type="button" ng-if="!category.locked" ng-click="startCountdownForCategory(category)">Countdown</button>
				<button class="btn btn-default" type="button" ng-if="!category.locked" ng-click="lockCategory(category)">Lock Now</button>

				<button class="btn btn-default" type="button" ng-if="category.locked" ng-click="prepareForWinnerSelection(category)">Choose Winner</button>
				<button class="btn btn-default" type="button" ng-if="category.locked" ng-click="unlockCategory(category)">Unlock</button>

				<button class="btn btn-default" type="button" ng-if="!category.calledOut" ng-click="calloutCategory(category)">Callout</button>
				<button class="btn btn-default" type="button" ng-if="category.calledOut" ng-click="resetCallout()">Clear Callout</button>
			</td>
		</tr>
	</tbody>
</table>