<table class="table users">
	<thead>
		<tr>
			<th>Username</th>
			
			<th class="align-center border-left">W</th><!-- Wins -->
			<th class="align-center">L</th><!-- Losses -->
			<th class="align-center">P</th><!-- Picks -->
			<th class="align-center">Acc.</th><!-- Accuracy = W / (W + L) -->
			<th class="align-center border-right">Conf.</th><!-- Confidence = P / T -->



			<th></th>
			<th>Buy In</th>
			<th>NI</th>
			<th>Bal.</th>
			<th class="uuid border-left">UUID</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in oscarsModel.allUsers">
			<td>
				<div class="input-group input-group-sm" >
					<span ng-if="oscarsModel.userBuzzed(user)" class="input-group-addon" ng-click="oscarsModel.unbuzzUser(user)"><span class="glyphicon glyphicon-flash"></span></span>
					<input type="text" class="form-control" ng-model="user.name">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="oscarsModel.updateUsers(user)"><span class="glyphicon glyphicon-floppy-disk"></span></button>
					</span>
				</div>
			</td>


			<td class="align-center border-left">{{oscarsModel.totalWinsForUser(user)}}</td>
			<td class="align-center">{{oscarsModel.totalLossesForUser(user)}}</td>
			<td class="align-center">{{oscarsModel.totalPicksForUser(user)}}</td>
			<td class="align-center">{{oscarsModel.accuracyForUser(user)}}</td>
			<td class="align-center border-right">{{oscarsModel.confidenceForUser(user)}}</td>



			<!-- Control User scores -->
			<td>
				<div class="input-group input-group-sm">
					<input type="number" min="0" max="10000" step="25" class="form-control" ng-model="adjustScores[user.uuid]">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="addScore(user)"><span class="glyphicon glyphicon-plus-sign"></span></button>
						<button class="btn btn-default" type="button" ng-click="subtractScore(user)"><span class="glyphicon glyphicon-minus-sign"></span></button>
					</span>
				</div>
			</td>

			<td><span class="glyphicon glyphicon-certificate"></span> {{user.buyIn | number:0}}</td><td>{{oscarsModel.netIncomeForUser(user) | number:0}}</td><td>{{oscarsModel.balanceForUser(user) | number:0}}</td>



			<td class="uuid border-left">{{user.uuid}}</td>
		</tr>
	</tbody>
</table>