<div ng-if="activeCategory()" class="category">
	<h1>{{activeCategory().name}}</h1>

	<table class="nominees">
		<thead>
			<tr>
				<th ng-repeat="nominee in activeCategory().nominees"><div class="nomineeWrapper nomineeHeader"><div>{{nominee.title}}</div><div></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td ng-repeat="nominee in activeCategory().nominees"><div class="nomineeWrapper nomineeBody"><div>
					<span ng-repeat="user in oscarsModel.usersWhoPicked(activeCategory().name, nominee.title)" class="userToken">{{user.name}}</span>
				</div></div></th>
			</tr>
		</tbody>
	</table>
</div>