<div>
	<form ng-submit="usernameSubmit(usernameInput); usernameInput = ''">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<h3>Please enter a username</h3>
				<div class="input-group">
					<input type="text" placeholder="Name" ng-model="usernameInput" ng-disabled="loginDisabled" class="form-control" />
					<span class="input-group-btn">
						<input type="submit" value="Submit" ng-disabled="loginDisabled" class="btn btn-default" />
					</span>
				</div>
			</div>
		</div>
	</form>
</div>
